name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::632757408528:role/GitHubActionsRole
          aws-region: us-east-2

      - run: make ci REF=${{ github.ref }}
        env:
          GIT_SHA: ${{ github.sha }}
          GITHUB_TOKEN: ${{ secrets.CI_USER_CUSTOM_PERMS_TOKEN }}
